{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        <p class="text-3xl mb-8"> <b> {% trans "Sign In" %} </b> </p>
    {% endelement %}
    <p class="text-xl mb-4">
        {% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">
        <button class="bg-gray-200 text-gray-800 font-bold rounded border-b-2 border-gray-500 hover:border-gray-800 hover:bg-gray-400 hover:text-white shadow-md py-1 px-2 inline-flex items-center text-sm mt-4" type="button">
        <span>Sign up</span>
        </button>
    </a> first.{% endblocktrans %}
    </p>
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
                {% element button type="submit" tags="prominent,login" %}
                <button class="bg-gray-200 text-gray-800 font-bold rounded border-b-2 border-gray-500 hover:border-gray-800 hover:bg-gray-400 hover:text-white shadow-md py-1 px-2 inline-flex items-center text-sm mt-4" type="submit">
                    {% trans "Sign In" %} 
                </button>
                {% endelement %}
            </button>
        {% endslot %}
    {% endelement %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}