{% extends "base.html" %}
{% load thumbnail %}

{% block title %} {{ user.username }} {% endblock %}

{% block body %} 
    <div class="container border-2 text-center text-base md:text-xl" style="background-color: #e8cd99; margin:1px auto;">
        <i><form class="border-1 pt-4 px-2" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="mb-6 bg-gray-400 text-gray-800 content-center font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-400 hover:text-white shadow-md py-2 px-4 inline-flex items-center text-sm mt-6" type="submit"> Submit </button>
        </form></i>
        
    </div>
{% endblock %}