{% extends "base.html" %}
{% load thumbnail %}


{% block title %} {{ user.username }} {% endblock %}

{% block body %}
    <div class="flex">
    <div class="flex flex-col justify-between items-center w-full border-2 bg-green-100 text-xs md:text-xl" style="background-color: #e8cd99;">
        <div class="w-full"><form class="p-0 md:p-10" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        </div>
            <div class="flex justify-between items-center text-center"> 
                <button class="bg-gray-400 text-gray-800 content-center font-bold rounded border-b-2 border-pink-500 hover:border-pink-600 hover:bg-pink-400 hover:text-white shadow-md py-2 px-4 inline-flex items-center text-sm" type="submit" style="margin:10px auto;"> Upload</button>
            </div>
        </form> 
   
    </div>
    </div>

{% endblock %}

 