{% extends "base.html" %}

{% block title %} Upload a new image {% endblock %}

{% block body %}
    <div class="flex flex-row text-center text-base md:text-xl" style="margin:1px auto; text-align:center;">
        <form class="basis-9/12 text-sm md:text-xl text-center my-4 content-center p-0 md:p-6" method="POST" action="" enctype="multipart/form-data">
            <h3 class="my-4 content-center text-center text-lg md:text-2xl mb-6"> <b>Upload an image</b></h3>
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button class="content-center bg-gray-300 text-gray-800 font-bold rounded border-b-2 border-pink-500 hover:border-pink-600 hover:bg-pink-400 hover:text-white shadow-md py-1 md:py-2 px-2 md:px-4 inline-flex items-center text-sm mt-6" type="submit">
                    <span class="mr-2 text-sm md:text-lg">Submit form </span>
                </button>
            </div>
        </form>
    </div>

{% endblock %}
